.cache
.bin
.suo
.v2
M03UF2PR1/.vs/M03UF2PR1/DesignTimeBuild/.dtbcache.v2
M03UF2PR1/.vs/M03UF2PR1/v17/.futdcache.v2
M03UF2PR1/.vs/M03UF2PR1/v17/.suo
M03UF2PR1/.vs/ProjectEvaluation/m03uf2pr1.metadata.v7.bin
M03UF2PR1/.vs/ProjectEvaluation/m03uf2pr1.projects.v7.bin
M03UF2PR1/TestProjectGameModules/obj/Debug/net7.0/TestProjectGameModules.csproj.AssemblyReference.cache
